:root {
    --primary-color: #FFC300;
    --background-color: #F9F9F9;
    --darkgray-color: #444444;
    --lightgray-color: #DDDDDD;
    --white-color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    overflow: hidden;
}

/* .cursor {
    position: fixed;
    transform: translate(-50%, -50%);
    cursor: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--lightgray-color);
    backdrop-filter: invert(80%);
    transition: 0.1s;
}

.cursor img {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: rotate(-135deg);
    width: 5rem;
} */


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /* background: url(../images/patten01.png); */
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

/* 
.fp-overflow::-webkit-scrollbar {
    display: none !important;
} */


.title_wrap {
    position: fixed;
    top: 40px;
    left: 60px;
    z-index: 999;
}

.utils_wrap {
    position: fixed;
    top: 40px;
    right: 60px;
    z-index: 999;
}

.gnb {
    position: fixed;
    top: 120px;
    right: -200px;
    z-index: 999;


    /* background: var(--background-color); */
    /* overflow: hidden; */

    transition: 0.5s;
}

.gnb.on {
    right: 75px;
}

.gnb ul {
    text-align: right;
}

.gnb ul li {
    margin: 0 0 24px 0;
}

.gnb ul li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px 0 0 0;
    height: 1px;
    transition: 0.3s;
    background: var(--darkgray-color);
}

.gnb ul li.on::after {
    left: -50px;
}

.gnb ul li a {
    display: block;
}

/* 메인비주얼 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainVisal {
    height: 100vh;
    display: flex;
    align-items: center;
}

.mainVisal .tit h2 {
    margin: 0 0 1.6rem 0;
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    text-indent: -4px;
}

.mainVisal .tit p {
    margin: 0 0 1.6rem 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
}



.mainVisal .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 선 스타일이에유 html98번 
.mainVisal .path {
    position: absolute;
    bottom: -5rem;
    right: 10rem;
    width: 160rem;
    height: 65rem;

}

.mainVisal .path svg {
    position: absolute;
    top: 0;
    left: 0;
}

.mainVisal .path path {
    stroke: var(--primary-color);
    stroke-dasharray: 5px 10px;
} */

/* 아이콘 모양 바뀌는거  html 57번
.mainVisal h2 span {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    font-size: 0;
}

.mainVisal h2 span em {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;

    width: 10rem;
    height: 50rem;
    animation: nemo 2s steps(5) infinite;
}

.mainVisal h2 span strong {
    display: block;
    width: 10rem;
    height: 10rem;
    background: var(--primary-color);
}

.mainVisal h2 span strong:nth-child(1) {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

.mainVisal h2 span strong:nth-child(2) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.mainVisal h2 span strong:nth-child(3) {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.mainVisal h2 span strong:nth-child(4) {
    clip-path: circle(50% at 50% 50%);
}

.mainVisal h2 span strong:nth-child(5) {
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}

@keyframes nemo {
    0% {
        top: 0;
    }

    100% {
        top: -50rem;
    }
} */


/* 똥이랑 똥파리 75번 
.mainVisal .con {
    position: relative;
}

.mainVisal .con .p {
    position: absolute;
    left: -10000px;
    width: 10rem;
    border: 1px solid var(--primary-color);
}

.mainVisal .con .m {
    animation: fly 0.075s infinite;
}

@keyframes fly {
    0% {
        transform: scaleY(0.5);
    }

    50% {
        transform: scaleY(1);
    }

    0% {
        transform: scaleY(0.5);
    }
} */

/* 뭔지 모르겟음
.mainVisal .t {
    position: absolute;
    bottom: -20rem;
    right: -10rem;
    font-size: 4rem;
    font-weight: 900;
    z-index: 9999;
} */


/* .portfolioㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.portfolio {
    background: var(--darkgray-color);
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}


.portfolio .title {
    position: relative;
}

.portfolio .slide_wrap {
    flex: 0 0 600%;
    display: flex;
}

.portfolio .slide_wrap>* {
    flex: 0 0 calc(100% / 6);
}

.portfolio .slide_wrap .con {
    background: var(--darkgray-color);
    /* background: #fff url(../images/patten01.png); */
}

.profile .ctxt {
    position: absolute;
    bottom: 10rem;
    right: 0;
    width: 80%;
    height: 80%;
    font-size: 4rem;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    animation: ctxt 25s linear infinite;
}

@keyframes ctxt {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.portfolio .title {
    display: flex;
    align-items: center;
}

.portfolio .title .corg1 {
    position: absolute;
    right: 6rem;
    top: 19rem;
    animation: bg 20s linear infinite;
}


.portfolio .title .corg1 .icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' -25,
        'opsz' 24;

    font-size: 60rem;
}

.portfolio .title .corg2 {
    position: absolute;
    right: 53rem;
    top: 32rem;
    animation: sg 20s linear infinite;
}

.portfolio .title .corg2 .icon {
    font-variation-settings:
        'FILL' 1,
        'wght' 100,
        'GRAD' -25,
        'opsz' 24;

    font-size: 20rem;
}

.portfolio .tit h3 {
    font-size: 10rem;
    font-weight: 900;
    margin: 0 0 3.2rem 0;
    text-transform: uppercase;
}

.portfolio .tit strong {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 3.2rem 0;
    text-transform: uppercase;
}

@keyframes bg {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes sg {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}




.portfolio .con .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;
}

.portfolio .con h3 {
    margin: 0 0 1.6rem 0;
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-indent: -4px;
}

.portfolio .con p {
    margin: 0 0 3.2rem 0;
}

.portfolio .con .table {
    margin: 0 0 4rem 0;
}

.portfolio .con .link {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.portfolio .con .link a {
    border-radius: 8px;
    padding: 12px 32px;
    background: var(--darkgray-color);
    color: var(--white-color)
}

.portfolio .con .desc_table {
    border-top: 2px solid var(--primary-color);
    width: 100%;
}

.portfolio .con .desc_table th,
.portfolio .con .desc_table td {
    padding: 0 16px;
    text-align: left;
    font-weight: 400;
    height: 4rem;
    border-bottom: 1px solid var(--lightgray-color);
}

.portfolio .tit h2 {
    margin: 0 0 1.6rem 0;
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    text-indent: -4px;
}

.portfolio .tit p {
    margin: 0 0 1.6rem 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.portfolio .slide {
    position: relative;
    overflow: hidden;
}

.portfolio .slide .path {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.portfolio .slide .path path {
    stroke: var(--primary-color);
    stroke-dasharray: 5px 10px;
    /* stroke-dashoffset: #333; */
}

.portfolio .slide .p {
    position: absolute;
    left: -10000px;
    width: 10rem;
    border: 1px solid var(--primary-color);
}

.portfolio .slide .m {
    animation: fly2 0.075s infinite;
}

@keyframes fly2 {
    0% {
        transform: scaleY(0.5);
    }

    50% {
        transform: scaleY(1);
    }

    0% {
        transform: scaleY(0.5);
    }
}

.portfolio .mokup {
    position: relative;
    flex: 0 0 30rem;
    height: 82.5rem;
    cursor: n-resize;
}

.portfolio .mokup>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.portfolio .mokup .line {

    z-index: 999;
}

.portfolio .mokup .pof {
    border-radius: 4.5rem;
    border: 1rem solid transparent;
    box-shadow: 2rem 2rem 16px rgba(0, 0, 0, 0.1);
}

.portfolio .mokup .line+.pof img {
    transition: transform 0.5s;
}

.portfolio .mokup .line:hover+.pof img {
    transform: translate(0, calc(-100% + 82rem));
}


.profile {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}


.profile .tit h3 {
    font-size: 10rem;
    font-weight: 900;
    margin: 0 0 3.2rem 0;
    text-transform: uppercase;
}





.totop {
    position: fixed;
    bottom: 10rem;
    right: 6rem;
    z-index: 999;
}

.footer {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.trainning {
    height: 100vh;
}