:root {
    --primary-color: #FFC300;
    --background-color: #F9F9F9;
    --darkgray-color: #444444;
    --lightgray-color: #DDDDDD;
    --white-color: #FFFFFF;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    overflow: hidden;
}

body {
    font-size: 16px;
    /* background: url(../images/patten01.png); */
    background: var(--darkgray-color);
}

.inner {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.title_wrap {
    position: fixed;
    top: 40px;
    left: 60px;
    z-index: 999;
}

.utils_wrap {
    position: fixed;
    top: 40px;
    right: 60px;
    z-index: 999;
}

.gnb {
    position: fixed;
    top: 120px;
    right: -200px;
    z-index: 999;
    transition: 0.5s;
}

.gnb.on {
    right: 75px;
}

.gnb ul {
    text-align: right;
}

.gnb ul li {
    margin: 0 0 24px 0;
}

.gnb ul li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px 0 0 0;
    height: 1px;
    transition: 0.3s;
    background: var(--darkgray-color);
}

.gnb ul li.on::after {
    left: -50px;
}

.gnb ul li a {
    display: block;
}

/* 메인비주얼 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainVisal {
    height: 100vh;
    display: flex;
    /* align-items: center; */
}

.mainVisal .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainVisal .inner {
    text-align: center;
}

.mainVisal .tit {}

.mainVisal .tit h2 {
    margin: 0 0 16px 0;
    font-size: 100px;
    font-weight: 900;
    color: var(--white-color);
    text-transform: uppercase;
    /* text-indent: -4px; */
}

.mainVisal .tit p {
    font-size: 16px;
    line-height: 20px;
    color: var(--white-color);
}


/* .portfolioㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.portfolio {
    /* background: var(--darkgray-color); */
    height: 100vh;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
}

.portfolio .slide_wrap {
    flex: 0 0 600%;
    display: flex;
}

.portfolio .slide_wrap>* {
    flex: 0 0 calc(100% / 6);
    /* flex: 1 1 calc(100% / 5); */
}

.portfolio .slide_wrap .con {
    background: var(--darkgray-color);
}

.portfolio .slide.title {
    display: flex;
    align-items: center;
}

.portfolio .slide.title .tit h3 {
    font-size: 100px;
    font-weight: 900;
    margin: 0 0 32px 0;
    text-transform: uppercase;
}

.portfolio .slide.title .tit p {
    margin: 0 0 16px 0;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.portfolio .slide.title .tit strong {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio .slide.con {
    align-self: center;
}

.portfolio .slide.con .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio .slide.con .inner .mokup_M {
    position: absolute;
    top: 50%;
    left: 500px;
    transform: translate(0, -50%);
    z-index: 999;
    overflow: hidden;
    width: 300px;
    border-radius: 30px;
}

.portfolio .slide.con.my_pf01 .inner .mokup_M .line::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: -1;
    width: 300px;
    background: url(../images/p01.jpg)no-repeat top center/cover;
    transition: 1s;
}

.portfolio .slide.con.my_pf01 .inner .mokup_M:hover .line::before {
    background-position: bottom center;
}

.portfolio .slide.con.my_pf01 .inner .mokup_p {
    width: 600px;
    height: 337.5px;
    border: 5px solid #000;
    border-radius: 15px;
    overflow: hidden;
}

.portfolio .slide.con.my_pf01 .inner .mokup_p .line img {
    width: 100%;
}

.portfolio .slide.con .inner .desc h3 {
    margin: 0 0 16px 0;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white-color);
}

.portfolio .slide.con .inner .desc h3 span {
    display: block;
    font-size: 80px;
    color: var(--white-color);
}

.portfolio .slide.con .inner .desc p {
    margin: 0 0 32px 0;
    color: var(--white-color);
}

.portfolio .slide.con .inner .desc .table {
    margin: 0 0 40px 0;
}

.portfolio .slide.con .inner .desc .desc_table {
    border-top: 2px solid var(--primary-color);
    width: 100%;
}

.portfolio .slide.con .inner .desc .desc_table th {
    border-right: 1px solid var(--white-color);
}

.portfolio .slide.con .inner .desc .desc_table th,
.portfolio .slide.con .inner .desc .desc_table td {
    padding: 0 16px;
    text-align: left;
    font-weight: 400;
    height: 40px;
    color: var(--white-color);
    border-bottom: 1px solid var(--lightgray-color);
}

.portfolio .con .link {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.portfolio .con .link a {
    border-radius: 8px;
    padding: 12px 32px;
    background: var(--primary-color);
    color: var(--darkgray-colorlor)
}

/* .trainning ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.trainning {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* text-align: center; */
}

.trainning .inner .desc h2 {
    margin: 0 0 16px 0;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white-color);
}

.trainning .inner .desc p {
    margin: 0 0 32px 0;
    color: var(--white-color);
}

.trainning_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.trainning_wrap .itm {
    /* height: 300px; */
}

.trainning_wrap .itm p {
    margin: 0 0 16px 15px;
    font-size: 20px;
    font-weight: 500;
    color: var(--white-color);
}

.trainning_wrap .itm .mokup_p {
    display: block;
    height: auto;
    border: 5px solid #000;
    border-radius: 15px;
    overflow: hidden;
}


/* .profile ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.profile {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.profile .tit h3 {
    font-size: 10rem;
    font-weight: 900;
    margin: 0 0 3.2rem 0;
    text-transform: uppercase;
}

/* .footer ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.footer {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.totop {
    position: fixed;
    bottom: 10rem;
    right: 6rem;
    z-index: 999;
}